main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.box {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.show-cords-list-enter-active {
    animation: scaleX-up-down 0.6s ease;
}

.show-cords-list-leave-active {
    animation: scaleX-up-down 0.6s ease reverse;
}

@keyframes scaleX-up-down {
    0% {
        transform: scaleX(0) translateX(800px);
    }
    100% {
        transform: scaleX(1) translateX(0);
    }
}

.list {
    list-style-type: none;
    width: 700px;
    height: 500px;
    background-color: var(--primary-color);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgba(156, 240, 156, 0.822);
}

.scroll {
    overflow-y: scroll;
    -ms-overflow-style: 10px;
    scrollbar-width: 10px;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--success-color);
    border-radius: 10px;
}

.no-cords {
    text-align: center;
    font-size: var(--font-large);
    font-weight: bolder;
}

.item-box {
    margin: 10px 0;
}

@media screen and (max-width:705px) {
    .list {
        width: 100%;
    }
}

@media screen and (max-width:345px) {
    .list {
        width: 310px;
    }
    .scroll {
        overflow: hidden;
    }
}