.cord-input {
    outline: none;
    border: 2px solid rgb(24, 194, 24);
    background-color: var(--input-color);
    color: var(--theme-font-color);
    padding: 4px;
    transition: box-shadow 0.4s ease;
}

.cord-input:focus {
    box-shadow: 0 0 5px 5px rgb(79, 204, 79);
}

label {
    margin-left: 5px;
    display: block;
    font-size: var(--font-small);
    font-weight: bold;
}

.cord-title {
    margin: 5px;
}

.cords-inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cord {
    margin: 5px;
}